

body {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin:  10vh 10vh 10vh 9vh;
    width: 100%;
    font-family: monospace;
    background-color: rgb(42, 43, 42);
    background-position: center center;
    background-size: 50vh;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

label {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

input { 
    background: none;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: monospace;
}

button {
    margin-top: 30px;
    padding: 5px;
    width: 15vh;
    background: transparent;
    border-radius: 10px;
    border-color: white;
    font-size: 20px;
    color: white;
    border-width: 5px;
    font-family: monospace;
    font-weight: 600;
}

img {
    margin-top: 10vh;
    padding: 5px;
}

#resultado-litros {
    margin-top: 5vh;
    padding: 5px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(245, 242, 59);
    
}

#resultado-dinheiro {
    margin-top: 5vh;
    padding: 5px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(245, 242, 59);
    margin-top: 0,1vh;
}

@media (max-width: 534px ) {
    body {
        display: flex;
        width: 65%;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 9vh;
        
    }

     h1 {
        font-size: 15px;
        font-weight: 400;
        color: white;
        width: 100%;
        
        
    }

    label {
        font-size: 15px;
        width: 100%;
    }

    input {
        font-size: 15px;
        margin-top: 2vh;
        width: 100%;
        
    }
    
    button {
        font-size: 15px;
    }

    img {
        width: 100%;
        margin-top: 5vh;
    }

    #resultado-litros {
        margin-top: 5vh;
        padding: 5px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(245, 242, 59);
        
    }

    #resultado-dinheiro {
        margin-top: 5vh;
        padding: 5px;
        font-size: 15px;
        font-weight: 400;
        color: rgb(245, 242, 59);
        margin-top: 1vh;
        
    }
}